
<% content_for :page_title,  "Jody's Blog | "+ @post.title %>
<% content_for :page_description, @post.summary  %>

<% content_for :meta_tags do %>
<!-- Twitter Card data --> 
<meta name="twitter:card" value="<%= @post.summary %>">

<!-- Open Graph data --> 

<meta property="og:title" content="<%= @post.title %>" /> 
<meta property="og:site_name" content="Jody's Blog">
<meta property="og:type" content="blog">


  
<% end %>

    <!-- INTRO-->
    <!--===============================================================-->
    <div class="bg-intro-blog" id="home">
      <div class="layer-intro-blog">
      </div>
      <p id="notice"><%= notice %></p>
    </div>

    <!-- BLOG-->
    <!--===============================================================-->
    <div class="bg-post">
      <div class="container">
        <div class="row row-blog">
          <div class="col-md-8 col-md-offset-2 wrapper-blog">

            <div class="row">
              <div class="col-sm-12">
                <h1 class="title-post"><%= @post.title %></h1>
                <p class="small author">BY <span class="green">JODY ALBRITTON</span> · <%= @post.published_at.strftime("%B %d, %Y")%></p>
                  
                <%= markdown @post.content %>
              </div>
            </div>

           
            <!-- DISQUS ROW -->
            <div class="row">
              <div class="col-sm-12">
                <div class="wrapper-disqus">
                  <div id="disqus_thread"></div>
                    <script type="text/javascript">
                        /* * * CONFIGURATION VARIABLES * * */
                        var disqus_shortname = 'jodysblog';
                        
                        /* * * DON'T EDIT BELOW THIS LINE * * */
                        (function() {
                            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                        })();
                    </script>
                    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a>
                    </noscript>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>


